{% extends "root.jinja2" %}
{% block title %}thicc{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">dummy</h4>
      <p class="card-text text-muted">
        <button id="purchase">Purchase</button>
        <button id="generatecart">Generate Cart</button>
      </p>
    </div>
  </div>

  <script src="{{ url_for('static', filename='shopping_cart.js') }}"></script>

{% endblock %}

