{% extends "root.jinja2" %}
{% block title %}thicc{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Welcome to our home</h4>
      <p class="card-text text-muted">
        <button id="purchase">Purchase</button>
        <button id="generatecart">Generate Cart</button>
      </p>
    </div>
  </div>

  <script src="/shopping_cart.js"></script>

{% endblock %}

