{% extends "root.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Welcome to our home</h4>
      <p class="card-text text-muted">
        You're beautiful.
      </p>
    </div>
  </div>
{% endblock %}

