{% extends "root.jinja2" %}
{% block title %}Inventory{% endblock %}

{% block content %}


<h3>Inventory</h3>

<div class="jumbotron">


         <div class="row">
  	     {% for i in item %}
        	<div class="col-md-6 col-lg-4 col-xl-3 py-2">
            		<div class="card h-100 p-4" style="min-height:200px; background-color:#404040">
				<b>{{i.category.value|replace("('","")|replace("',)","")}}</b>
				<hr>
                    		<h5 class="card-title">{{i.name}}</h5>
      		    		<p class="card-text">{{i.description}}</p>


				<p class="mt-auto">Price: {{i.price}}		| Stock: {{i.quantity}} </p>
				<button type="button" class="btn btn-primary mt-auto">Add to Cart</button>

                	</div>
         	</div>
  	     {% endfor %}
</div>

{% endblock %}

