{% extends "root.jinja2" %}
{% block title %}Home{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Halt!</h2>
      <h5 class="card-text text-center">
        You must be logged in to do that.
      </h5>
    </div>
  </div>

{% endblock %}

